/* 添加自定义悬停效果 */
.custom-hover-class {
  background-color: #F2F2F2; /* 悬停时的背景色 */
  color: #333; /* 悬停时的文字颜色 */
}

/* 自定义按钮样式 */
.contact-button {
  margin-top: 10px; /* 上边距 */
  background-color: #4CAF50; /* 按钮背景色 */
  color: #FFFFFF; /* 按钮文字颜色 */
  border: none; /* 移除按钮边框 */
  padding: 10px 20px; /* 按钮内边距 */
  border-radius: 5px; /* 圆角边框 */
  font-size: 14px; /* 按钮文字大小 */
  font-weight: bold; /* 文字加粗 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

/* 按钮悬停效果 */
.contact-button:hover {
  background-color: #45a049; /* 悬停时的背景色 */
}




.container {
  padding: 0rpx !important;
}

.top-show {
  width: 100%;
  height: 360rpx;

  .top-show-img {
    width: 100%;
    height: 100%;
  }
}

.bottom-show {
  margin: 0 16rpx;

  .section {
    background-color: #fff;
    border-radius: 20rpx;
    padding: 20rpx;
  }

  .user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -86rpx;
    color: #999;

    .avatar-container {
      display: flex;
      align-items: center;

      image {
        width: 120rpx;
        height: 120rpx;
        border-radius: 50%;
        margin-right: 20rpx;
      }

      .no-login {
        display: flex;
        flex-direction: column;
        font-size: 24rpx;

        text:first-child {
          font-size: 28rpx;
        }

        .ellipsis {
          width: 400rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .order {
    background-color: #fff;
    margin-top: 20rpx;

    .order-title-wrap,
    .order-content-wrap {
      padding: 20rpx;
      display: flex;
      justify-content: space-between;
    }

    .order-title-wrap {
      .title {
        color: #444;
        // font-weight: 700;
      }

      .more {
        color: #ccc;
        font-size: 24rpx;
      }
    }

    .order-content-wrap {
      display: flex;

      .iconfont {
        font-size: 60rpx;
        text-align: center;
      }

      text {
        font-size: 25rpx;
        margin-top: 20rpx;
      }
    }

    .order-content-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .after-scale {
    margin-top: 30rpx;

    .order-title-wrap {
      line-height: 50rpx;
    }

    .after-scale-item {
      display: flex;
      margin: 25rpx 15rpx;
      color: #999;
      line-height: 50rpx;

      text {
        font-size: 25rpx;
        margin-left: 20rpx;
      }

      .iconfont {
        color: #a2b364;
      }
    }
  }

  .info-footer {
    height: 100rpx;
    line-height: 100rpx;
    text-align: center;
    color: #aaa;
    font-size: 25rpx;
  }
}
